input[type=message], input[type=email], input[type=text], textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  button[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  button[type=submit]:hover {
    background-color: #45a049;
  }

  .st-c7 {
    background: transparent;
  }
  
  .css-1r6slb0 {
    padding-top: 3rem;
  }

  .css-z5fcl4{

     padding: 2rem 4rem 6rem;
  }


  .css-1r6slb0 {
    position: relative;
    perspective: 1000px;
  }

  .css-1r6slb0 img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
  }

  .css-1r6slb0:hover img {
    transform: rotateY(180deg);
  }

  .css-1r6slb0:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background-image: url('https://github.com/rpj09/Portfolio/blob/76c90093682115199569dabe4aade5442a3671de/images/backcard.png');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .css-1r6slb0:hover:after {
    opacity: 1;
  }
  
  /* Hide Streamlit Branding */
  #MainMenu {visibility: hidden;}
  footer {visibility: hidden;}
  header {visibility: hidden;}